.homepage {
  .container {
    margin-top: 50px;

    width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    p {
      margin-bottom: 20px;
      align-self: center;
      color: rgb(87, 80, 18);
      font-size: 30px;
      font-weight: bold;
    }

    .content {
      padding: 10px 30px;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
    }
  }
}
